# SPDX-FileCopyrightText: 2021 Moritz Bültmann <moritz.bueltmann@physik.uni-freiburg.de>
#
# SPDX-License-Identifier: CC0-1.0
*.swp
*.vim
*.swa
*.o
*.systeminfo
*.a
.nfs*
calc_rdf
bin
obj
include
spherical_profile.dat
